body {
  margin: 0 !important;
}

#app {
  height: 100vh;
}

.EGyQL::after {
  color: white;
  font-size: larger;
  font-weight: bolder;
  content: "SEIZE.IO ADMIN" !important;
}

.EGyQL img {
  display: none;
}

.bIWCUs {
  box-shadow: none;
}

.kZDHca,
.iLudQO {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(40, 40, 40) !important;
}

.jjXmSj,
.gFbbiY {
  background-color: white !important;
  color: rgb(40, 40, 40) !important;
}

.fRzYgN {
  color: white !important;
}

.hbqiof {
  background-color: rgb(40, 40, 40);
  background-image: url("https://d3lqz0a4bldqgf.cloudfront.net/seize_images/Seize_Logo_Glasses_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

svg {
  display: none;
}
