body {
  margin: 0 !important;
}

#app {
  height: 100vh;
}

.jlLIlY::after,
.hWNDSK::after {
  color: white;
  font-size: larger;
  font-weight: bolder;
  content: "SEIZE.IO ADMIN";
}

.jlLIlY img,
.hWNDSK img {
  display: none;
}

.koAaEq,
.hVkLzz {
  box-shadow: none;
}

.dpZFvg,
.fuZoeI,
.dJBkGp,
.cfkrCg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(40, 40, 40) !important;
}

.iPobhC,
.tvIWO,
.gJFHtn,
.kNlHDQ {
  background-color: white !important;
  color: rgb(40, 40, 40) !important;
}

.grWBPf,
.hCSsRz {
  color: white !important;
}

.gaQJNd,
.ioJWNE {
  background-color: rgb(40, 40, 40);
  background-image: url("https://seize.io/Seize_Logo_Glasses_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hWMGVy,
.jaLGOh,
.ezSKXX,
.fjPOCc,
.kjwEua,
.ccOuNf {
  display: none;
}
