body {
  margin: 0 !important;
}

.jlLIlY::after {
  color: white;
  font-size: larger;
  font-weight: bolder;
  content: "SEIZE.IO ADMIN";
}

.jlLIlY img {
  display: none;
}

.koAaEq {
  box-shadow: none;
}

.dpZFvg,
.fuZoeI {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(40, 40, 40) !important;
}

.iPobhC,
.tvIWO {
  background-color: white !important;
  color: rgb(40, 40, 40) !important;
}

.grWBPf {
  color: white !important;
}

.gaQJNd {
  background-color: rgb(40, 40, 40);
  background-image: url("https://seize.io/Seize_Logo_Glasses_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hWMGVy,
.jaLGOh,
.ezSKXX {
  display: none;
}
